<a href="https://colab.research.google.com/github/Toadoum/American-Sign-Language-detection-using-CNN/blob/main/Sakayo_Toadoum_Sari_LogRegression_students_version_OK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

# Logistic Regression Implementation

# Instructions:
1. Save a copy of this notebook in your drive;
2. Name it by: `Your_fullname_LogRegression.ipynb`
3. Close the original notebook
4. Start typing your codes.

`Note:` Discuss with your neighbors.

# Part 1: Data preparation

## Import Dataset Libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Question 0: Import the dataset Dataset

In [3]:
##### WRITE YOUR CODE HERE #####

data= pd.read_csv('/content/diabetes.csv')
#### END CODE ####

Question 1: Print the first five rows of the Dataset

In [4]:
##### WRITE YOUR CODE HERE #####
data.head(5)
#### END CODE ####

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

Question 2: Check the types of your variables/features

In [5]:
##### WRITE YOUR CODE HERE #####
type(data.columns)
#### END CODE ####

pandas.core.indexes.base.Index

Question 3: Describe your dataset

In [6]:
##### WRITE YOUR CODE HERE #####
data.describe()
#### END CODE ####

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

Question 4: write a function that scale your features.
`Hint:` $x'= \dfrac{x-\mu}{\sigma}$ 
where $\mu$ is the mean and $\sigma$ the standard deviation of $x$.

In [7]:
##### WRITE YOUR CODE HERE #####
def feature_standard(data):
  ######## write your code #########
  dmean=np.mean(data, axis=0)
  dstd= np.mean(data, axis=0)
  data_Scaled= (data - dmean)/dstd


  return data_Scaled

#### END CODE ####

Question 5: Scale your features, except the target.

In [8]:
##### WRITE YOUR CODE HERE #####
Standard_data=feature_standard(data)
data.iloc[:, 0:-1]=Standard_data.iloc[:, 0:-1]
data.head()

#### END CODE ####

   Pregnancies   Glucose  ...       Age  Outcome
0     0.560447  0.224208  ...  0.504172        1
1    -0.739925 -0.296908  ... -0.067414        0
2     1.080596  0.513716  ... -0.037330        1
3    -0.739925 -0.263821  ... -0.368248        0
4    -1.000000  0.133219  ... -0.007247        1

[5 rows x 9 columns]

Question 6: Write a function that split your (x,y) to (x_train, y_train) and (x_test, y_test).
`Note:` This function must return an arrays.

In [9]:
##### WRITE YOUR CODE HERE #####
def split_data(df, train_percent= 0.8):
  np.random.seed(2)
  perm = np.random.permutation(df.index)

  n= len(df)
  train_index = int(train_percent * n)

  train = df.iloc[perm[:train_index]]
  test = df.iloc[perm[train_index:]]

  x_train, x_test, y_train, y_test= train.iloc[:, :-1], test.iloc[:, :-1], train.iloc[:, -1], test.iloc[:, -1]
  return x_train.values, x_test.values, y_train.values, y_test.values
#### END CODE ####

In [10]:
x_train, x_test, y_train, y_test= split_data(data) 
x_train.shape, y_train.shape, x_test.shape, y_test.shape

((614, 8), (614,), (154, 8), (154,))

# Part 2: Logistic Regression without Regularization.

## Recaps:
1. Logistic/sigmoid function of $z$:
\begin{equation}
g(z)= \dfrac{1}{1+ exp(-z)}
\end{equation}
where $z= x^t \theta$ and $x, y \in \mathbb{R}^d$.
2. Derivative of Logistic/sigmoid function with respective to $z$:
\begin{equation}
dg(z)= g(z)(1-g(z))
\end{equation}
3. Cross-entropy loss:
\begin{equation}
l(\theta)= -\sum_{i= 1}^{N} \left(y_{true} \times \log y_{pred} + (1-y_{true}) \times \log (1-y_{pred}) \right)
\end{equation}
where $y_{true}= g(z)$, $z= x^t \theta$ and $y_{true}$ is the ground-truth for a given $x$.

4. Derivative of Cross-entropy loss with respective to $\theta$:
\begin{equation}
dl(\theta)= -\sum_{i= 1}^{N} x^t\left(y_{true} -y_{ped} \right)
\end{equation}
5. Apply Batch gradient descent to update $\theta$.

Question: Create a class called LogReg. See the description in the below cells.

In [41]:
class logistic_regression:
  def __init__(self, num_iters= 100, threshold= 0.5, tolerance= 1e-10, lr= 0.00001):
    ##### WRITE YOUR CODE HERE #####
    self.num_iters=num_iters
    self.threshold=threshold
    self.lr=lr
    self.tolerance=tolerance
    self.theta=None

    self.cost_history=[]
    self.cost_history_test=[]
    #### END CODE ####

  def add_ones(self, x):
    ##### WRITE YOUR CODE HERE #####
    x_new=np.hstack([np.ones((x.shape[0], 1)), x])
    return x_new
    #### END CODE ####

  def sigmoid(self, x):
    ##### WRITE YOUR CODE HERE #####
    h= x@self.theta
    #print(z)
    return 1/(1+np.exp(-h))
    #### END CODE ####

  def cross_entropy(self, x, y_true):
    ##### WRITE YOUR CODE HERE #####
    n = len(x) # Length of x
    y_pred = self.sigmoid(x)
    Cost = -((y_true.T@np.log(y_pred))+(1-y_true).T@np.log(1-y_pred))/n    
    return Cost
    #### END CODE ####

  def fit(self, x,y):
    ##### WRITE YOUR CODE HERE #####
    x= self.add_ones(x) # Add ones to x
    y= y.reshape(-1,1) # reshape y. This is optional, do it if needed
    self.theta= np.zeros((x.shape[1],1)) # Initialize theta to zeros vector >>> (x.shape[1])
    current_iter= 1
    norm= 1

    while (norm >= self.tolerance and current_iter < self.num_iters):
      theta_old = self.theta.copy() # Get old theta

      # make predictions
      y_pred= self.sigmoid(x)# using sigmoid function 

      # Gradient of cross-entropy
      grad= -x.T@(y - y_pred)
      grad= grad.reshape(-1,1) # Reshape, if it is needed

      # update rules
      theta_new= theta_old-self.lr*grad
      self.theta=theta_new
      # Compute the training loss
      self.cost_history.append(self.cross_entropy(x, y))
      self.cost_history_test.append(self.cross_entropy(self.add_ones(x_test), y_test))

      # Convergence criteria:
      if current_iter%100 == 0:
        print(f'cost for {current_iter} iteration : {self.cross_entropy(x, y)}')
      norm = np.linalg.norm(theta_old - self.theta)
      current_iter += 1
    #### END CODE ####
  
  def predict(self, x):
    proba= self.sigmoid(x)# Get probability of x
    result= [1 if i > 0.5 else 0 for i in proba]  # Convert proba to 0 or 1. hint: list comprehension
    return result
  
    
  def predict_proba(self, x):
    x= self.sigmoid() # Apply add ones to x
    y_pred_prob= None # Predict proba with sigmoid
    return None
  
  # def plot(self):
    ##### WRITE YOUR CODE HERE #####
    # plt.plot(cost_history, label='Train Loss')
    # plt.plot(cost_history_test, label='Test loss')

In [42]:
# Create a model by instanciating the class logistic_regression
model = logistic_regression(num_iters=10000)

In [43]:
%%time
model.fit(x_train, y_train)

cost for 100 iteration : [[0.66865321]]
cost for 200 iteration : [[0.65026448]]
cost for 300 iteration : [[0.63615174]]
cost for 400 iteration : [[0.62509761]]
cost for 500 iteration : [[0.61627359]]
cost for 600 iteration : [[0.60910308]]
cost for 700 iteration : [[0.60317669]]
cost for 800 iteration : [[0.5981987]]
cost for 900 iteration : [[0.59395225]]
cost for 1000 iteration : [[0.59027626]]
cost for 1100 iteration : [[0.58704976]]
cost for 1200 iteration : [[0.58418096]]
cost for 1300 iteration : [[0.5815996]]
cost for 1400 iteration : [[0.57925144]]
cost for 1500 iteration : [[0.5770943]]
cost for 1600 iteration : [[0.57509509]]
cost for 1700 iteration : [[0.57322774]]
cost for 1800 iteration : [[0.57147151]]
cost for 1900 iteration : [[0.56980982]]
cost for 2000 iteration : [[0.56822933]]
cost for 2100 iteration : [[0.56671925]]
cost for 2200 iteration : [[0.56527077]]
cost for 2300 iteration : [[0.56387668]]
cost for 2400 iteration : [[0.56253104]]
cost for 2500 iteration : [[0.5612289]]
cost for 2600 iteration : [[0.55996615]]
cost for 2700 iteration : [[0.55873933]]
cost for 2800 iteration : [[0.55754553]]
cost for 2900 iteration : [[0.55638225]]
cost for 3000 iteration : [[0.55524737]]
cost for 3100 iteration : [[0.55413906]]
cost for 3200 iteration : [[0.55305574]]
cost for 3300 iteration : [[0.55199603]]
cost for 3400 iteration : [[0.55095871]]
cost for 3500 iteration : [[0.54994272]]
cost for 3600 iteration : [[0.5489471]]
cost for 3700 iteration : [[0.547971]]
cost for 3800 iteration : [[0.54701365]]
cost for 3900 iteration : [[0.54607437]]
cost for 4000 iteration : [[0.54515253]]
cost for 4100 iteration : [[0.54424754]]
cost for 4200 iteration : [[0.54335887]]
cost for 4300 iteration : [[0.54248603]]
cost for 4400 iteration : [[0.54162857]]
cost for 4500 iteration : [[0.54078606]]
cost for 4600 iteration : [[0.53995809]]
cost for 4700 iteration : [[0.5391443]]
cost for 4800 iteration : [[0.53834432]]
cost for 4900 iteration : [[0.53755781]]
cost for 5000 iteration : [[0.53678446]]
cost for 5100 iteration : [[0.53602395]]
cost for 5200 iteration : [[0.53527601]]
cost for 5300 iteration : [[0.53454033]]
cost for 5400 iteration : [[0.53381666]]
cost for 5500 iteration : [[0.53310474]]
cost for 5600 iteration : [[0.53240431]]
cost for 5700 iteration : [[0.53171513]]
cost for 5800 iteration : [[0.53103697]]
cost for 5900 iteration : [[0.53036961]]
cost for 6000 iteration : [[0.52971281]]
cost for 6100 iteration : [[0.52906638]]
cost for 6200 iteration : [[0.52843011]]
cost for 6300 iteration : [[0.52780379]]
cost for 6400 iteration : [[0.52718723]]
cost for 6500 iteration : [[0.52658023]]
cost for 6600 iteration : [[0.52598263]]
cost for 6700 iteration : [[0.52539422]]
cost for 6800 iteration : [[0.52481485]]
cost for 6900 iteration : [[0.52424433]]
cost for 7000 iteration : [[0.5236825]]
cost for 7100 iteration : [[0.5231292]]
cost for 7200 iteration : [[0.52258427]]
cost for 7300 iteration : [[0.52204754]]
cost for 7400 iteration : [[0.52151888]]
cost for 7500 iteration : [[0.52099813]]
cost for 7600 iteration : [[0.52048515]]
cost for 7700 iteration : [[0.5199798]]
cost for 7800 iteration : [[0.51948193]]
cost for 7900 iteration : [[0.51899141]]
cost for 8000 iteration : [[0.51850811]]
cost for 8100 iteration : [[0.51803189]]
cost for 8200 iteration : [[0.51756265]]
cost for 8300 iteration : [[0.51710023]]
cost for 8400 iteration : [[0.51664454]]
cost for 8500 iteration : [[0.51619544]]
cost for 8600 iteration : [[0.51575283]]
cost for 8700 iteration : [[0.51531658]]
cost for 8800 iteration : [[0.51488658]]
cost for 8900 iteration : [[0.51446274]]
cost for 9000 iteration : [[0.51404493]]
cost for 9100 iteration : [[0.51363306]]
cost for 9200 iteration : [[0.51322702]]
cost for 9300 iteration : [[0.51282672]]
cost for 9400 iteration : [[0.51243205]]
cost for 9500 iteration : [[0.51204291]]
cost for 9600 iteration : [[0.51165922]]
cost for 9700 iteration : [[0.51128088]]
cost for 9800 iteration : [[0.5109078]]
cost for 9900 iteration : [[0.5105399]]
CPU times: user 2.19 s, sys: 41 ms, total: 2.23 s
Wall time: 2.23 s

In [39]:
pred= model.predict(x_test)

ValueError: ignored

In [ ]:
pred

In [ ]:
# Predict Proba
print(model.predict_proba(x_test))

In [ ]:
model.plot()

## Push your works to Githup Repo

Setps:
1. Fork the repo: `https://github.com/AMMI-2022/test-live-coding`
2. Clone in your colab;
3. Push
4. Make a pull request

Set your credential

In [ ]:
my_token= ""
my_repository= ""
username= ""
useremail= ""

Clone the repo

In [ ]:
! git clone https://github.com/{username}/{my_repository}.git

In [ ]:
! git remote -v

Copy data to test-live-coding folder

In [ ]:
!cp diabetes.csv /content/test-live-coding

In [ ]:
%cd /content/test-live-coding

In [ ]:
!git status

In [ ]:
!git config user.email useremail
!git config user.name username

In [ ]:
!git add .
!git commit -m "Add my files"

In [ ]:
!git status

In [ ]:
!git push -u origin master --force

# If you cannot push, use:

In [ ]:
!git remote rm origin

In [ ]:
!git remote add origin https://{my_token}@github.com/{username}/{my_repository}.git
!git remote -v

In [ ]:
!git push -u origin master --force

---



---



---

# Assignment

Just follow the class logistic_regression, try to implement Logistic regression with `l1`, `l2` and `l1-l2`. That we call respectively `Lasso (least absolute shrinkage and selection operator)`, `Ridge` and `ElasticNet`.
Given cross-entropy:
\begin{equation}
  l()= -\sum_{i= 1}^{N} \left(y_{true} \times \log y_{pred} + (1-y_{true}) \times \log (1-y_{pred}) \right)
\end{equation}

1. l1-regularization (LASSO):

\begin{equation}
   l() + \| \theta\|_1
\end{equation}


2. l2-regularization (Ridge):
\begin{equation}
   l()+ \| \theta\|_2
\end{equation}

3. l1-l2-regularization (ElasticNet):
\begin{equation}
  l() + _1\| \theta\|_1 + _2\| \theta\|_2
\end{equation}

`Note: please use mini-batch as learning algorithm`

In [ ]:
class logistic_regression_l1:
  pass

In [ ]:
class logistic_regression_l2:
  pass

In [ ]:
class logistic_regression_l1_l2:
  pass

# Concepts [Assignment]:
1. Why there is no close form for cross-entropy loss?
2. Why we need cross-entropy loss instead of mse?
3. Why is logistic regression a type of classification technique and not a regression?